body {
  background-color: #EEEEEE;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
}

.vh-100 {
  height: 100vh;
}

.welcome-section {
  color: #222831;
  padding-top: 15vh;
}

.welcome-brand {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 8rem;
  margin: 10px;
}

hr {
  border-style: dotted none none;
  border-color: #222831;
  border-width: 8px;
  width: 5%;
  margin: 2rem auto 4rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

button+a {
  margin-top: 10rem;
}
