{% extends 'base.html' %}
{% block content %}
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat magni incidunt reprehenderit distinctio, dolorem, nemo non et quis quidem iste pariatur saepe quo quia architecto temporibus explicabo minima dolorum sit dolore repellendus delectus! Iusto quae voluptatum ducimus quia dicta voluptatibus obcaecati! Ipsum, ullam vero! Totam iure voluptatibus voluptatum ex aperiam magni hic doloribus aliquam distinctio repellendus, asperiores nihil ad.
{% endblock %}


